#you{
  background-color: darkseagreen;
}

#other{
  background-color: pink;
}


#curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #8B5CF6;
  transform: translate(85%, 60%);
}

#curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

#curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #f9f9f9;
  transform: translate(-4%, 40%);
  z-index: -1;
}

.section{
  position: relative;
  background-color: #8B5CF6;
  display :flex;
  flex-direction: column;
  align-items: center;
}

.text{
  font-size: 40px;
}

.custom-shape-divider-bottom-1672955593 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1672955593 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1672955593 .shape-fill {
  fill: #FFFFFF;
}

/* For mobile devices */
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1672955593 svg {
      width: calc(149% + 1.3px);
      height: 82px;
  }
} 

.spacer{
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer{
  background-image: url(../public/layered-waves-haikei.svg);
}




.ball {
  animation: float 3.5s ease-in-out infinite;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;

  background: radial-gradient(
    circle at 75% 30%,
    aqua 5px,
    aqua 80%,
    darkblue 60%,
    darkblue 100%
  );
  box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
    inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #fde9ea,
    inset 0 50px 140px #fde9ea, 0 0 90px #fff;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-80px);
  }
  100% {
    transform: translatey(0px);
  }
}

.shadow {
  background: #b490b2;
  width: 150px;
  height: 40px;
  top: 70%;
  animation: expand 4s infinite;
  position: absolute;
  border-radius: 50%;
}
@keyframes expand {
  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 500px) {
  .ball {
    animation: float 4.5s ease-in-out infinite;
    height: 120px;
    width: 120px;

    background: radial-gradient(
      circle at 65% 35%,
      white 5px,
      aqua 15%,
      darkblue 50%,
      aqua 100%
    );
    box-shadow: inset 0 -20px 30px #fff, inset 40px 0 46px #eaf5fc,
      inset 58px 0px 60px #c2d8fe, inset -8px -30px 100px #fde9ea,
      inset 0 20px 110px #fde9ea, 0 0 90px #fff;
  }
  .shadow {
    width: 90px;
    height: 20px;
    top: 78%;
    animation: expand 5s infinite;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-50px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}


.electron {
  width: 400px;
  height: 40%;
  /* background-color: black; */
  animation: rotation 8s infinite linear;
  border-radius: 50%;
  padding: 100px;
  border: 1px solid silver;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.electron::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: deeppink;
  position: absolute;
  left: -40px;
  top: -20px;
  border-radius: 30%;
  margin: 51px;
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}